@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);

$main-font: 'PT Sans', sans-serif;
$secondary-font: 'Quattrocento', serif;
$red: #F33E1B;
$green: #80bd01;

#title{
    border: 1px solid #fff;
    margin-top: 7rem;
    border-radius: .5rem;
  h1{
    font-family: $main-font;
    font-size: 3rem;
    color: white;
    text-align: center;
    padding-top: 1rem;
  }
  h2{
    font-family: $main-font;
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
  }
  .color{
    color: $red;
  }
  .green{
    color: $green;
  }
}
i{
  font-size: 2rem;
  color: black;
  &:hover{
    color: $red;
  }
}
li, p{
  font-family: $secondary-font;
}
.off-canvas-wrap {
  position: fixed;
  z-index: 1000;
  padding: 0;
}
#top-container{
  background-image: url('stardust.png');
  background-size: cover;
  width: 100%;
  height: 86vh;
  background-position-y: 40%;
}
#bottom-container{
  height: 12vh;    
  padding-top: 4vh;
  padding-bottom: 10vh;
}
.left-off-canvas-menu{
  height: 100vh;
  background-color: rgba(175,175,175,.8)
}
a.left-off-canvas-toggle {
  margin-top: -1rem;
  margin-left: 1rem;
}
.tab-bar{
  background-color: rgba(0,0,0,0);
}
.left-small{
  border: none;
}
ul.off-canvas-list div{
  transition: all 0.5s ease;
  border: none;
  height: 3vh;
  padding: 1vw;
  &:hover{
    color: $red;
    border: 1px solid $red;
    background-color: black;
    font-family: $main-font;
    cursor: pointer;
    transition: all 0.2s ease;

  }
}
div#projectsArrow {
    padding-top: 10vh;
}
.arrow{
  transition: height 0.1s ease;
  height: 8vh;
  display: block;
  margin: auto;
  &:hover{
    transition: height 0.1s ease;
    height: 10vh;
    cursor: pointer;
  }
}
.social{
  display: inline;
  padding: 1.5vw;
}
ul.slick-dots {
  margin: auto 0;
}
#skills{
  background-image: url('grey.png');
  height: 100%;
  h2 {
  padding: 3vh;
  }
}
div#iconCarousel {
  margin-top: 15vh;
}
.skills{
  text-align: center;
  img {
    margin: 0 auto;
    padding: 1rem;
    height: 5rem;
  }
}
#left-container, #center-container {
  margin-right: 4rem;
}
#left-container, #center-container, #right-container {
  border: 1.5px solid $green;
  border-radius: 50rem;
  height: 18rem;
  width: 18rem;
  background-color: rgba(255,255,255,0.7);
  h2 {
    padding-top: 8vh;
    font-size: 1.25rem;
  }
  p {
    font-size: 0.75rem;
  }
}
div.skills-icons{
  h2.skills{
    padding-top: 7vh;
  }
}
#projects{
  height: 100%;
  background-color: grey;
  h2 {
    padding-top: 5rem;
    text-align: center;
  }
  p{
    text-align: center;
  }
  #examples{
    margin-top: 3rem;
    .text{
      padding: 0.5rem;
      color: white;
      p{
        font-family: $main-font;
      }
    }
    .hiddenOverlay{
      display: none;
    }
    .showOverlay{
      display: block;
      opacity: 0.9;
    }
  }
  .projectLink{
    color: $green;
    &:hover{
      color: $red;
    }
  }
  .projects{
    margin-bottom: 1rem;
    img{
      &:hover{
        border: 1px solid white;
      }
    }
  }
}
.aboutArrow {
    padding-top: 20vh;
}
#about{
  height: 100%;
  background-color: #0A0A0A;
}
#about-text{
  .row{
    padding: 5rem;
  }
  img{
    display: block;
    height: 80vh;
    margin: 0 auto;
  }
  h2{
    color: black;
    text-align: center;
    padding-top: 2rem;
  }
  p{
    color: black;
    text-align: center;
    font-family: $main-font;
  }
}
.slick-prev:before, .slick-next:before {
  color: black;
  font-size: 2rem;
  &:hover, &:focus {
    outline: none;
    background: none;
  }
}
#contact{
  height: 57vh;
  background-image: url('muir.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -19rem;
  p, h2{
    text-align: center;
    color: white;
  }
  h2{
    margin-top: 2rem;
    font-size: 3rem;
    color: white;
    padding-top: 5rem;
  }
  p{
    font-family: $main-font;
  }
}
.contact-links{
  a{
    margin: auto 0;
    text-align: center;
  }
}
i.contact {
  text-align: center;
  padding: 1rem;
  font-size: 3.5rem;
  margin: auto 0;
  color: white;
  &:hover{
    color: $green;
  }
}

// Media queries
@media (max-width: 900px){
  h1#title{
    font-size: 5rem;
  }
}