extends layout

block content
  include ./nav.jade
  #top-container
    .row
      h1#title Andreas Bloomquist
      h2 Full Stack Developer

      #bottom-container.row
          #arrow.medium-3.medium-offset-5.columns
            a(href="#skills")
              img(src="images/down.ico")
          #socials.medium-3.columns
            #github.social
              a(href="https://github.com/andreasbloomquist")
                i.fi-social-github
            #linkedin.social
              a(href="https://www.linkedin.com/in/andreasbloomquist")
                i.fi-social-linkedin
            #twitter.social
              a(href="https://twitter.com/andrebloom")
                i.fi-social-twitter

    #skills.row
      h2.skills A few of my skills
      #left-container.small-2.medium-3.columns.skills
        h2 Agile guru
        p I've worked with many Agile methodologies across multiple teams, and I'm a Certified Scrum Master.

      #center-container.small-4.medium-3.columns.skills
        h2 Full Stack Developer
        p I love to code! 

      #right-container.small-6.medium-3.columns.skills
        h2 Music & Travel lover!
        p Besides coding, my other passions including music and traveling.

      #skill-icons.row
        .large-12.columns.skills-icons
          #iconCarousel.row
            .skills
              img.mongo(src="images/mongodb-logo.jpeg", alt="MongoDB")
            .skills
              img.express(src="images/express_logo.png")
            .skills
              img.angular(src="images/angularjs.png", alt="AngularJS Frontend Framework")
            .skills
              img.node(src="images/ng_logo.png")
            .skills              
              img.ruby(src="images/ruby.png")
            .skills
              img.ps(src="images/postgresql-logo.png")
            .skills
              img.github(src="images/Github_Logo.png")
            .skills
              img.js(src="images/js-logo.png")
            .skills
              img.html(src="images/HTML5_Logo.svg")
            .skills
              img.css(src="images/css3.svg")
    #projects
      .medium-6.medium-centered.columns
        h2 A few of the projects I've built
        p Check out some examples of projects I've built over the last few months. I chose to highlight these projects as they show off the breadth of my technical skills, while also examplifying products that solve an actual problem.
      #examples
        .large-4.columns.projects.projectOne
          img.genreme(src="images/genreme.png")
        .large-4.columns.projects.projectTwo
          img.petid(src="images/petid.png")
        .large-4.columns.projects.projectThree
          img.textjames(src="images/textjames.png")

    #about
      img.andreas(src="images/andreas_test.png")
    #about-text
      .row
        .medium-10.medium-centered.columns
          h2 Andreas Bloomquist
          p I am a graduate of a 12-week web development immersive course seeking to pursue a full-time career in web development. The full-time course covered topics such as JavaScript, JQuery, AJAX, Node.js, AngularJS, SQL and NoSQL Databases, RESTful APIs and Ruby on Rails.
          p I grew up on the East Coast, in a suburb of Boston, but moved to the West Coast to attend Occidental College in Los Angeles. Immediately after graduating college, I moved to the Bay Area where I reside today as a proud Oakland resident. Suffice to say I prefer the Californian weather over New England winters.
          p When I'm not infront working at the commandline I love to travel the world, experience new adventures, and make electronic music. 

    #contact
      .row
        .medium-10.medium-centered.columns
          h2 Get in touch!
          p I'm always looking for new coding buddies! Please don't hesitate to contact me if you have a project in mind, or if you just want to talk code over some coffee.

    script
          $(document).foundation();










