extends layout

block content
  include ./nav.jade
  #top-container
    .row
      .medium-8.medium-centered.columns
        #title
          h1 Hi, I'm 
            span.color Andreas
          h2 and I'm a full stack 
            span.color developer
            span ,&nbsp Agile
            span.color &nbspguru
            span ,&nbsp and Git 
            span.color ninja.
          h2.green ...nodemon...

  #bottom-container.row
      #arrow.medium-2.medium-offset-5.columns
        img.scollToSkills(src="images/down.ico")
      #socials.medium-3.medium-offset-2.small-12.small-centered.medium-uncentered.columns
        #github.social
          a(href="https://github.com/andreasbloomquist")
            i.fi-social-github
        #linkedin.social
          a(href="https://www.linkedin.com/in/andreasbloomquist")
            i.fi-social-linkedin
        #twitter.social
          a(href="https://twitter.com/andrebloom")
            i.fi-social-twitter

    #skills
      .row
        h2.skills A few of my skills
        #left-container.small-12.medium-4.small-centered.medium-uncentered.columns.skills
          h2 Agile guru
          p I've worked with many Agile methodologies across multiple teams, and I'm a Certified Scrum Master.

        #center-container.small-12.medium-4.small-centered.medium-uncentered.columns.skills
          h2 Full Stack Developer
          p Some might say my happy place is at the commandline. I was a hobby coder for many years, and took my skills to the next level through General Assemblys 12-week Web Development Immersive.

        #right-container.small-12.medium-4.small-centered.medium-uncentered.columns.end.skills
          h2 Food, Travel & Music lover!
          p When I'm not building amazing apps, you can find me cooking, traveling the world, or discovering new music (or all at once).

      #skill-icons.row
        .large-12.columns.skills-icons
          #iconCarousel.row
            .skills
              img.mongo(src="images/mongodb-logo.png", alt="MongoDB")
            .skills
              img.express(src="images/express_logo.png")
            .skills
              img.angular(src="images/angularjs.png", alt="AngularJS Frontend Framework")
            .skills
              img.node(src="images/ng_logo.png")
            .skills              
              img.ruby(src="images/ruby.png")
            .skills
              img.ps(src="images/postgresql-logo.png")
            .skills
              img.github(src="images/GitHub_Logo.png")
            .skills
              img.js(src="images/js-logo.png")
            .skills
              img.html(src="images/HTML5_Logo.svg")
            .skills
              img.css(src="images/css3.svg")
    #projects
      .medium-6.small-12.small-centered.medium-centered.columns
        h2 A few of the projects I've built
        p Check out some examples of projects I've built over the last few months. I chose to highlight these projects as they show off the breadth of my technical skills, while also examplifying products that solve an actual problem.
      #examples
        .medium-4.small-12.columns.projects.project
          img.genreme(src="images/genreme.png")
          .hiddenOverlay.text
            p Genre.me
            p Social network to discover music genres. Individually built RESTful api with Node.js, Express, and consuming the SoundCloud Api. 
            p
              a(href="http://genre-me.herokuapp.com/") genre.me | 
              a(href="https://github.com/andreasbloomquist/genre-me") GitHub Repo

        .medium-4.small-12.columns.projects.project
          img.petid(src="images/petid.png")
          .hiddenOverlay.text
            p PetID
            p App to connect pet owners with their lost pets. Group project utilizing pair programming, and Test Driven Development.  For this, I led the front-end development. Technologies include, Ruby on Rails, Mandrill, and AWS.
            p
              a(href="https://petid.herokuapp.com/") PetID | 
              a(href="https://github.com/petid/petid_app") GitHub Repo

        .medium-4.small-12.columns.projects.project
          img.textjames(src="images/textjames.png")
          .hiddenOverlay.text
            p Text James
            p Personalized and anonymous platform to connect tenants seeking office space with commercial real estate brokers via SMS. For this project I built an API using Ruby on Rails to communicate with Twilio and dispatch SMS messages. Other technologies include PostgreSQL, JavaScript and Foundation Framework.
            p We're in beta! All information pertaining to TextJames is strictly propietary, and the site is only open to select individuals. Please contact me directly for access.


    #about
      img.andreas(src="images/andreas_test.png")
    #about-text
      .row
        .medium-10.medium-centered.columns
          h2 Andreas Bloomquist
          p I am a graduate of a 12-week web development immersive course seeking to pursue a full-time career in web development. The full-time course covered topics such as JavaScript, JQuery, AJAX, Node.js, AngularJS, SQL and NoSQL Databases, RESTful APIs and Ruby on Rails.
          p I grew up on the East Coast, in a suburb of Boston, but moved to the West Coast to attend Occidental College in Los Angeles. Immediately after graduating college, I moved to the Bay Area to work in the Tech industry. Suffice to say I prefer the Californian weather over New England winters.
          p When I'm not working at the commandline I love to travel the world, experience new adventures, and make electronic music. 

    #contact
      .row
        .medium-10.medium-centered.columns
          h2 Get in touch!
          p I'm always looking for new coding buddies! Please don't hesitate to contact me if you have a project in mind, or if you just want to talk code over some coffee.

    script
          $(document).foundation();










