.off-canvas-wrap(data-offcanvas)
    main.inner-wrap
      nav.tab-bar
        section.left-small
          a(href="#" class="left-off-canvas-toggle")
            i.fi-list.icon
          aside.left-off-canvas-menu
            ul.off-canvas-list
              li
                a(href="#skills") Skills
              li
                a(href="#projects") Projects
              li
                a(href="#about") About
              li
                a(href="#contact") Contact
      section.main-section
        .row
          .small-12.large-12.columns

